  #logo {
    float: left;
  }
  body {
    font-family:helvetica;
  }
  label {
    vertical-align:top;
    margin-left:10px;
    display:inline-block;
    width:225px;
    text-align:right;
  }
  textarea {
    width:400px;
    height:100px;
  }
  input[type=button] {
    margin-top:15px;
    margin-left:200px;
  }
  div.content {
    position:relative;
    float:left;
  }
  div.section {
    background:#ccc;
    width:600px;
    border-radius: 15px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:10px;
  }
  h2 {
    margin-top:0;
    margin-left:10px;
  }
  h3 {
    margin-left:20px;
    margin-bottom:0;
    line-height:0.75em;
  }
  span.info {
    color:#333;
    font-size:small;
    display:block;
    padding:15px;
  }
  .button {
    padding:1px 5px;
    border-radius:2px;
    background:#caa;
    border:1px solid #ccc;
  }
  .button:hover {
    border:1px inset #a99;
    cursor:hand;
  }
  #srulem,#mrules {
    display:inline-block;
    position:absolute;
    left:37px;
  }
  #mrule {
    display:none;
  }
  .rules > span {
    float:left;
    clear:left;
    margin-left:50px;
    min-height:25px;
  }
  .rules > span > span {
    position:absolute;
    left:200px;
    display:inline-block;
    margin-top:-2px;
  }
  .nl {
    clear: both;
  }